.covered .card-body h3{
    font-size: 20px;
    font-weight: bold;
}
 
.covered .card-body i{
    font-size: 18px;
    color: var(--color-green);
} 

.covered .card-body .change{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 12px;
    margin-top: 7%;
}

/* .custom-tooltip {
    position: relative;
}

.custom-tooltip .tooltip-text{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 25px;
    width: 200px;
    background: var(--color-green);
    color: var(--color-white);
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    display: none;
}

.custom-tooltip i:hover + .tooltip-text {
    display: block;
} */