.health-pay .card-body h6{
    font-size: 20px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
}

.health-pay .card-body h3{
    font-size: 35px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    color: var(--color-green);
}

.health-pay .card-body p{
    font-size: 16px;
    padding: 0;
    color: var(--color-black);
    font-weight: bold;
}

.text-success {
    color: #28a745!important;
    font-weight: bold;
    font-size: 15px;
    padding-right: 2px;
}

.health-pay h4{
    font-size: 17px;
    font-weight: bold;
}

.health-pay ul{
    list-style: none;
    padding: 10px 0 0 0;
    margin-bottom: 0;
}

.health-pay li{
    font-size: 15px;
    padding-top: 5px;
    color: var(--color-black);
}

.health-pay .custom-toggle ul {
    display: flex;
    background-color: var(--color-help);
    margin: 0;
    padding: 0;
    border-radius: 25px;
    border: 2px solid var(--color-help);
}

.health-pay .custom-toggle ul li{
    padding: 10px;
    color: var(--color-white);
    font-weight: 600;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.health-pay .custom-toggle ul li.active {
    background-color: var(--color-white);
    color: var(--color-green);
    border-radius: 25px;
}